!!! 5
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Brian Hann - Résumé
    meta(name='description', content='Résumé of Software Enginneer & Web Developer Brian Hann')
    meta(name='author', content='Brian Hann - brianhann.com')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700italic,700', rel='stylesheet', type='text/css')

    //- link(rel='stylesheet', href='libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='libs/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', media='screen', href='styles.css')

    // Modernizr on top to enable old browsers to render HTML5 markup 
    script(src='modernizr.custom.15550.js')

  body
    header.vcard
      h1.fn Brian Hann
      h2.role Software Engineer &amp; Web Developer
      ul.contact
        li.email
          i.icon-envelope
          a(href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#98;&#114;&#105;&#97;&#110;&#46;&#104;&#97;&#110;&#110;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;')
            &#98;&#114;&#105;&#97;&#110;&#46;&#104;&#97;&#110;&#110;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;
        li.tel
          i.icon-phone
          | 913.205.5068
        li.url
          a(href='http://brianhann.com', title='Brian Hann\'s Website') brianhann.com
        li.adr
          span.locality Kansas City, MO
          | ,&nbsp;
          span.country-name USA
        //
          <li class="url twitter">@c0brac0bra</li>

    section#summary
      h1 Summary
      p
        | Software and web developer since 1999. Worked in the banking, telecom, and health industries on external-facing websites,
        | internal web-based tools, backend data processing and ETL, and system administration.
      p
        | Focus on designing and architechting <strong>elegant solutions</strong> to business problems, from the back-end of system setup and integration
        | to front-end user experience.
      p
        | Currently pursuing new technologies such as 
        span.hoverme(title='Service Oriented Architecture') SOA
        | , 
        span.hoverme(title='Software as a Service') SaaS
        | , and 
        span.hoverme(title='Not Only SQL') NoSQL.

    section#skills
      h1 Skills
      dl
        dt Front-End Development
        dd(title='Hyper Text Markup Language') HTML5
        dd(title='Cascading Style Sheets') CSS3
        dd(title='Front-end programming language') JavaScript
        dd(title='Javascript Library') jQuery
        dd Ajax
        //- dd(title='Ensuring website/app has usable experience on all platforms') Cross-browser Compatibility

        dt Back-end &amp; Integration
        dd C#
        dd(title='MS Web Framework') Asp.Net MVC / Razor
        dd(title='JavaScript-based highly scalable internet applications') node.js
        dd(title='perl') perl
        dd(title='perl web framework') Catalyst
        dd(title='perl web micro-framework') Dancer
        dd(title='PHP') PHP

        dt Databases
        dd MySQL
        dd Postgres
        dd SQL Server
        dd(title='Document-oriented database') MongoDB
        dd(title='Key-value data store') Redis

        dt Systems &amp; Servers
        dd Linux / *nix
        dd(title='HTTP Web Server') Apache
        dd(title='Lightweight HTTP webserver') Nginx
        dd(title='Network monitoring and graphing tool') Cacti
        dd(title='Computer, system, and infrastructure monitoring application') Nagios

        //
          <dt>Design</dt>
          <dd title="Design of websites on screen, tablets and mobiles">Web Design</dd>
          <dd title="Design of interfaces for apps and web based systems">User Interface Design</dd>
          <dd title="Sketching and wireframing using Balsamiq Mockup">Wireframing / Mockups</dd>
          <dd title="Turning mockups into comps">Photoshop</dd> 

        dt Others
        dd(title='Distrbuted Source Control Management') git
        dd github
        dd(title='Subversion Source Control') Subversion
        dd(title='Microsoft Team Foundation Server') TFS
        dd(title='JavaScript MVW framework') Angular
        dd(title='node.js web application framework') Express.js

    section#experience
      h1 Work Experience

      article.container
        .row
          .span2
            time.start(datetime='2008') 2008
            time.end(datetime='now') Present
          .span10
            h1 Examinetics, Inc 
              span Overland Park, KS
            h2 Software Engineer / Web Developer
            p
              | Maintained a legacy perl + Mason + MySQL application that managed and reported on client's employee health information. Duties included
              | MySQL maintenance and DBA work, bug tracking, and internal customer support.
              br
              | Also was a lead developer on team integrating a 3rd party replacement platform built on .NET and SQL Server into the company's infrastructure.
              | Technologies used included C#, ASP.NET, ASP MVC3, Razor, WCF, and JS/jQuery.
              br
              | Was also system administrator and lead support for all Linux systems. Duties included new system setup, Active Directory integration,
              | OS/package patching, and monitoring with Cacti and Nagios.

      article
        h1 Sprint 
          span Overland Park, KS
        h2 Software Developer
        time.start(datetime='09-2006') Sept 2006
        time.end(datetime='2008') 2008
        p
          | Worked with a team of perl developers to create a scaleable data processing and reporting system for information on field devices.
          br
          | System had to handle several million files daily, coming from
          | many different systems around the nation. Data was highly volatile and required by many other groups for planning field upgrades and
          | managing resource demands at the cell tower level.
          | Other duties included requirements gathering and project planning.

      article
        h1 US Bank 
          span Overland Park, KS
        h2 Software Developer
        time.start(datetime='04-2006') April 2006
        time.end(datetime='09-2008') Sept 2008
        p
          | Short-term contract as a developer with some system administrator duties on a project to integrate an air fuel payment system into US Bank’s environment
          br
          | Framework was perl and XML with an Oracle back end.

      article
        h1 UMB Bank 
          span Kansas City, MO
        h2 Software Engineer / Web Developer
        time.start(datetime='04-2008') 1999
        time.end(datetime='08-2006') April 2006
        p
          | Was Programmer/Analyst II on an application development team. Wrote perl and mod_perl apps for web and e-commerce projects.
          br
          |Also handled data processing and reporting tools. Duties also involved leading project planning and some system administration
          | as well as supporting over 1000 different tools, scripts and apps.

      //- section#education
      //-     h1 Education
      //-     h2 Universidade de Caxias do Sul
      //-     p BS, Computer Science, 2000 - 2007

    section#oss
      h1 Open Source projects
      ul
        li
          a(href='https://github.com/c0bra/brewton') Brewton
          |  Beer brewing and brewery management app written in node.js. Currently working on proof of concept.
        li
          a(href='https://metacpan.org/module/Image::WordCloud') Image::WordCloud
          |  Perl module that generates 
          a(href='https://raw.github.com/c0bra/image-wordcloud-perl/master/examples/gettysburg.png') worldcloud
          |  images from text sources based on word frequency.
        li
          a(href='https://github.com/c0bra/dtpredict') DateTime::Event::Predict
          |  Perl module for event analysis and prediction.

    section#hobbies
      h1 Hobbies &amp; Interests
      ul
        li Playing acoustic guitar and bass
        li Homebrewing beer
        li Road and trail cycling
        li Cooking

    // Script for enabling media queries on IE5+ 
    script(src='css3-mediaqueries.js')
    script(src='libs/bootstrap/bootstrap.min.js')