html {
	background: #FCFCFC !important;
	color: #333 !important;
	font-family: 'PT Sans' !important;
}

/*   HEADER   */
.vcard {
	margin-bottom: 10px;
	overflow: hidden;
}

.fn {font-size: 2.7em; font-weight: bold; padding: 5px 0 5px 10px;}

.role {
	background: #999;
	color: #FCFCFC;
	font-weight: normal;
	margin: 4px 0 13px;
	padding: 5px 5px 5px 10px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 
	0px 1px 1px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
}

.contact {
	list-style: none;
	margin-bottom: 15px;
	overflow: hidden;
}
.contact li {
	border-right: 1px solid #ccc;
	display: inline;
	float: left;
	/*font-size: 0.8em;*/
	padding: 2px 0;
	text-align: center;
	width: 19.5%;
	/*overflow: hidden*/
}
.contact li:last-child {border: none}
.contact a {color: #000;}
.contact a:hover {background-color: #eee; text-decoration: none}

.section h1 {border-left: 2px solid #DDD; font-size: 1.25em; margin-bottom: 10px; padding-left: 5px; text-transform: uppercase;}
.section p {line-height: 1.5em; padding: 0 20px 5px;}

/*.experience article {margin: 15px 0 37px 95px; padding-left: 5px; position: relative; border: 1px solid #FCFCFC}
.experience article:last-child {margin-bottom: 0}
.experience article:hover {border: 1px dotted #ddd; background: #fefefe}*/
.experience article h1 {border: none; font-size: 1.2em; font-style: italic; font-weight: bold; padding: 0; text-transform: none;}
.experience article h1 a {color: #333; text-decoration: none}
.experience article h1 a:hover {background-color: #333; color: #eee} 
.experience article h1 span {color: #777; font-size: 0.8em; font-weight: normal;}
.experience article h2 {background: #eee; display: inline; font-size: 0.9em; font-weight: normal; padding: 3px;}
/*.experience article .start, #experience article .end {background: #fff; border-top: 1px dashed #ddd; font-size: 0.75em; left: -80px; padding: 4px 0; position: absolute; text-align: center; top: 19px; width: 60px;}
.experience article .end {top: 0; border: none}
.experience article p {font-size: 0.9em; line-height: 22px; margin: 10px 0 0; padding-left: 0;}*/

.experience .time {
	background: #fff;
	font-size: 0.75em;
	/*left: -80px;*/
	padding: 4px 0;
	/*position: absolute;*/
	text-align: center;
	/*top: 19px;
	width: 60px;*/
}
.experience .time:last-child {
	border-top: 1px dashed #ddd;
}

.hoverme {
	cursor: pointer;
	font-weight: bold;
}

a, #skills dl dd {-webkit-transition: all 0.15s ; -moz-transition: all 0.15s ; -ms-transition: all 0.15s ; -o-transition: all 0.15s ; transition: all 0.15s ;}